//variables
//colors
$bg-color: #0d0d0d, ; //#3d3d3d;
$text-color: #e0e0e0;
$accent-color: #ffe81f; // Star Wars yellow
$card-bg: #1a1a1a;
$border-color: #333;
//fonts
$font-main: 'Exo 2', sans-serif;
$font-display: 'StarJedi', sans-serif;